h1 {
    font-size: 38px;
    text-align: center;
    padding: 20px;
    font-family: 'Orbitron', sans-serif;
    /* border-bottom: 2px solid #008CBA; */
}
#buttondisplay {
    width: 700px;
    text-align: center;
    margin-bottom: 20px;
    float: left;
}
form {
    float: left;
    margin-left: 30px;

}
button {
font-size: 16px;
color: white;
background-color: #008CBA;
padding: 10px;
border-radius: 12px;
transition-duration: 0.4s;
cursor: pointer;
}
.button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

p {
    padding: 5px;
}

#gifs-appear-here {
    clear: both;
    margin-bottom: 20px;
    column-count: 5;

}

.gif {
    height: 200px;
    width: 99%;
}

@media (max-width: 640px) {
    h1 {
        padding: 0px;
        margin-top: 20px;
    }
    #add-show {
        font-size:15px;
    }
    #buttondisplay {
        width: 98%;
        margin: auto;
        clear: both;
        margin-bottom: 17px;
    }
    button {
        font-size: 12px;
    }
   #gifs-appear-here {
       column-count: 2;
   }
   .gif {
       height: 200px;
       width: 98%;
   }

}
